.h-storyline-container {
  overflow-x: auto;
  display: flex;
  padding-left: 150px;
}
.h-storyline-container::-webkit-scrollbar-track {
  border: none;
  padding: 0px;
  background-color: transparent;
}
.h-storyline-container::-webkit-scrollbar-thumb {
  border-radius: unset;
  box-shadow: none;
  background-color: transparent;
  border: none;
}
.h-storyline-container::-webkit-scrollbar {
  width: 0px !important;
}
.storyline-item {
  display: flex;
  gap: 10px;
  position: relative;
  flex-direction: column;
}
.storyline-text-section {
  margin-top: 5px;
  width: 50%;
}
.storyline-graphic-section {
  display: flex;
  position: relative;
}
.storyline-graphic-top-section {
  display: flex;
  flex-direction: column;
}
.storyline-line {
  background-image: linear-gradient(to bottom, white, #dbdee2);
  border: none;
  width: 5px;
  height: 130px;
  margin-top: 20px;
}
.storyline-bulletpoint {
  width: 40px;
  height: 40px;
  background-color: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(166, 173, 181, 0.18);
  box-shadow: 5px 5px 15px 5px rgba(166, 173, 181, 0.18);
}
.storyline-bulletpoint-center,
.storyline-bulletpoint-center-yellow {
  background-color: #767c84;
  width: 20px;
  height: 20px;
  margin: auto;
  border-radius: 20px;
}
.storyline-bulletpoint-center-yellow {
  background-color: #ffd200;
}
.storyline-pointed-line,
.storyline-pointed-line-starter,
.storyline-pointed-line-final {
  background-image: linear-gradient(to right, #a6adb5 44%, white 0%);
  background-position: center;
  background-size: 15px 3px;
  background-repeat: repeat-x;
  height: 10px;
  position: absolute;
  right: 0px;
  width: 100%;
  border: none;
  margin: 0px;
  bottom: 15px;
}
.storyline-pointed-line-starter {
  left: -150px;
}
.storyline-pointed-line-final {
  right: -150px;
}
.storyline-item:first-child .storyline-graphic-section > div:last-child {
  background-image: linear-gradient(to right, white 10%, rgba(0, 0, 0, 0) 80%);
  height: 20px;
  width: 100%;
  position: absolute;
  left: -150px;
  bottom: 8px;
}
.storyline-item:last-child .storyline-graphic-section > div:last-child {
  background-image: linear-gradient(to left, white 10%, rgba(0, 0, 0, 0) 80%);
  height: 20px;
  width: 100%;
  position: absolute;
  right: 0px;
  bottom: 8px;
}
.storyline-date,
.storyline-title,
.storyline-description {
  margin: 0px;
  padding: 0px;
}
.storyline-date,
.storyline-title {
  color: #525a63;
}
.storyline-date {
  font-size: 24px;
  margin-bottom: 10px;
}
.storyline-title {
  font-size: 17px;
  font-weight: bold;
}
.storyline-description {
  font-size: 17px;
  color: #767c84;
}
@media (max-width: 1024px) {
  .h-storyline-container {
    padding-left: 0px;
  }
  .storyline-item {
    min-width: 200px;
  }
  .storyline-pointed-line-starter {
    display: none;
  }
}
@media (max-width: 640px) {
  .storyline-date {
    font-size: 21px;
  }
  .storyline-description,
  .storyline-title {
    font-size: 15px;
  }
}
